.bestof .bestof-link {
  min-height: 250px;
  margin-bottom: 20px;
}

.bestof .bestof-link a {
  display: block;
}

.bestof .bestof-link svg,
.bestof-page svg {
  margin-top: 25px;
}

.bestof .bestof-link .bestof-blurb {
  height: 100%;
  margin-left: 30px;
  font-size: 2.5em;
}

.bestof .bestof-link .bestof-title {
  color: var(--scott-primary-color);
  margin-top: 60px;
}

.bestof .bestof-link p {
  color: var(--scott-black);
}

.bestof .bestof-link:hover a {
  background-color: var(--scott-light-gray);
}

.bestof .bestof-link:hover .bestof-title {
  color: var(--scott-highlight-color);
}

.bestof .bestof-link:hover .inner-icon {
  fill: var(--scott-secondary-color);
}

.bestof-page .back {
  margin-bottom: 30px;
  font-size: 2.5em;
}

.bestof-page .back a {
  padding: 10px;
  color: var(--scott-black);
  text-decoration: none;
  border-bottom: 1px solid var(--scott-light-gray);
}

.bestof-page .back a:hover {
  color: var(--scott-highlight-color);
  border-bottom: 1px solid var(--scott-highlight-color);
}

.bestof-page .shortened {
  margin-top: 60px;
}

.bestof-page .bestof-list .section {
  border-bottom: 1px solid var(--scott-black);
  padding: 10px;
  font-size: 2.5em;
}

.bestof-page .bestof-list .section .subtitle {
  margin-top: 5px;
  margin-left: 20px;
}

.bestof-page .bestof-list .section li {
  margin-bottom: 1em;
  font-weight: bold;
}

.bestof-page .bestof-list .section li a {
  color: var(--scott-primary-color);
  text-decoration: none;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 2px;
}

.bestof-page .bestof-list .section li a:hover {
  color: var(--scott-secondary-color);
  text-decoration: none;
}

.bestof-page .bestof-list .section li .commentary {
  margin-left: 20px;
  font-weight: normal;
  width: 75%;
  line-height: 1.5em;
}

.bestof-page .bestof-list .section .title .anchor-icon {
  margin-left: 5px;
  display: none;
  cursor: pointer;
  color: var(--scott-light-gray);
}

.bestof-page .bestof-list .section .title:hover .anchor-icon {
  display: inline;
}

/* Media Query for non-mobile pages  */
@media only screen and (min-width: 1024px) {
  .bestof .bestof-link a {
    width: 96%;
  }

  .bestof .bestof-link svg,
  .bestof-page svg {
    margin-top: 0px;
  }

  .bestof .bestof-link .bestof-blurb {
    font-size: 1em;
  }

  .bestof-page .bestof-list .section {
    font-size: 1em;
  }

  .bestof-page .back {
    font-size: 1.5em;
  }
}
