.credits p {
  line-height: 1.5em;
  font-size: 2.5em;
}

.credits a {
  color: var(--scott-primary-color);
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 2px;
}

.credits a:hover {
  color: var(--scott-secondary-color);
}

.credits .web .mithril img {
  transform: scale(2);
  margin-bottom: 5px;
  padding: 0px 10px;
}

.credits .colors img {
  width: 99%;
  margin-top: 20px;
  border: 1px solid var(--scott-black);
  border-radius: 6px;
}

@media only screen and (min-width: 1024px) {
  .credits p {
    font-size: 1em;
  }

  .credits .web .mithril img {
    margin-bottom: -2px;
    transform: none;
    padding: 0px;
  }
}
