.goodreads {
  width: 100%;
}

.goodreads a:hover {
  color: var(--scott-secondary-color);
}

/*
 * GoodReads Widget Styles
 */

.gr_custom_container_1623516086,
.gr_custom_container_1623516108 {
  /* customize your Goodreads widget container here*/
  background-color: var(--scott-white);
  color: #000000;
  margin: auto;
}
.gr_custom_header_1623516086,
.gr_custom_header_1623516108 {
  /* customize your Goodreads header here*/
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
}
.gr_custom_header_1623516086 a,
.gr_custom_header_1623516108 a {
  color: var(--scott-black);
  font-size: 2.5em;
}

.gr_custom_each_container_1623516086:hover,
.gr_custom_each_container_1623516108:hover {
  background-color: var(--scott-light-gray);
}

.gr_custom_each_container_1623516086,
.gr_custom_each_container_1623516108 {
  /* customize each individual book container here */
  clear: both;
  margin-bottom: 22px;
  overflow: auto;
  padding: 15px;
}
.gr_custom_book_container_1623516086,
.gr_custom_book_container_1623516108 {
  /* customize your book covers here */
  overflow: hidden;
  float: left;
  margin-right: 30px;
}
.gr_custom_title_1623516086 a,
.gr_custom_title_1623516108 a {
  color: var(--scott-primary-color);
  font-size: 2.5em;
  font-weight: normal;
  font-style: italic;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.gr_custom_author_1623516086,
.gr_custom_author_1623516108 {
  /* customize your author names here */
  font-size: 2.5em;
}
.gr_custom_author_1623516086 a,
.gr_custom_author_1623516108 a {
  color: var(--scott-primary-color);
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 1px;
}
.gr_custom_rating_1623516086,
.gr_custom_rating_1623516108 {
  /* customize your rating stars here */
  margin-bottom: 10px;
}

/* Media Query for non-mobile pages  */
@media only screen and (min-width: 1024px) {
  .gr_custom_header_1623516086 a,
  .gr_custom_header_1623516108 a {
    font-size: 1em;
  }

  .gr_custom_title_1623516086 a,
  .gr_custom_title_1623516108 a {
    font-size: 18px;
  }
  .gr_custom_author_1623516086,
  .gr_custom_author_1623516108 {
    /* customize your author names here */
    font-size: 15px;
  }
}
