.clock {
  text-align: right;
  height: 120px;
  margin-bottom: 30px;
  color: var(--scott-light-gray);
  border-radius: 10px;
}

.clock-time {
  display: block;
  font-size: 70px;
  font-weight: bold;
  padding-right: 20px;
}

.clock-date {
  display: block;
  font-size: 40px;
  padding-right: 20px;
  font-weight: bold;
  margin-bottom: -7px;
}

.home p {
  line-height: 1.5em;
  font-size: 2.5em;
}

.home img.me {
  margin: 10%;
  border: 1px solid var(--scott-black);
  border-radius: 6px;
}

/* Media Query for non-mobile pages  */
@media only screen and (min-width: 1024px) {
  .clock-time {
    font-size: 54px;
  }

  .clock-date {
    margin-top: 32px;
    font-size: 28px;
  }

  .home p {
    font-size: 1em;
  }
}
