.now .web p,
.now .web span {
  line-height: 1.5em;
  font-size: 2.5em;
}

.now a {
  color: var(--scott-primary-color);
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 2px;
}

.now a:hover {
  color: var(--scott-secondary-color);
}

.now img {
  width: 96%;
  margin-top: 20px;
  border: 1px solid var(--scott-black);
  border-radius: 6px;
}

.now .with-caption span {
  margin-left: 1em;
  color: var(--scott-primary-color);
}

@media only screen and (min-width: 1024px) {
  .now .web p,
  .now .web span {
    font-size: 1em;
  }
}
