.projects-link {
  height: 400px;
}

.projects-link:hover {
  background-color: var(--scott-light-gray);
}

.projects-link .project-info {
  height: 100%;
  text-decoration: none;
  color: var(--scott-black);
  text-align: center;
}

.projects-link .project-info > a {
  height: 100%;
  width: 100%;
  font-size: 2.5em;
}

.projects-link .project-name {
  color: var(--scott-primary-color);
  margin-top: 100px;
  margin-bottom: 30px;
}

.projects-link .project-icon {
  height: 100%;
}

.projects-link .project-description {
  color: var(--scott-black);
}

.projects-link:hover .project-name {
  color: var(--scott-highlight-color);
}

.projects-page .back {
  margin-bottom: 30px;
  font-size: 2.5em;
}

.projects-page .back a {
  padding: 10px;
  color: var(--scott-black);
  text-decoration: none;
  border-bottom: 1px solid var(--scott-light-gray);
}

.projects-page .back a:hover {
  color: var(--scott-highlight-color);
  border-bottom: 1px solid var(--scott-highlight-color);
}

.projects-page .shortened {
  margin-top: 60px;
}

.projects-page ul {
  font-size: 2.5em;
}

.projects-page ul a {
  color: var(--scott-primary-color);
  text-decoration: none;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 2px;
}

.projects-page ul a:hover {
  color: var(--scott-secondary-color);
  text-decoration: none;
}

@media only screen and (min-width: 1024px) {
  .projects-page .back {
    font-size: 1.5em;
  }

  .projects-page ul {
    font-size: 1em;
  }

  .projects-link .project-info > a {
    font-size: 1em;
  }
}
