body {
  font-family: "Fira Sans", sans-serif;
  margin: 0px;
  color: var(--scott-black);
  background-color: var(--scott-white);
}

h1,
h2,
h3,
h4,
h5,
.oxy {
  font-family: "Oxygen", sans-serif;
  margin: 0px;
}

code,
.mono {
  font-family: "Fira Mono", monospace;
}

code.inline {
  font-size: 0.9em;
  padding: 2px 5px;
  border-radius: 6px;
  background-color: var(--scott-light-gray);
}

code.inline.code-nowrap {
  white-space: nowrap;
}

strong {
  font-weight: bold;
}

:root {
  --scott-black: #333333;
  --scott-white: #ffffff;
  --scott-light-gray: #eaeaea;
  --scott-dark-color: #050052;
  --scott-primary-color: #8ea36d;
  --scott-secondary-color: #d4a518;
  --scott-highlight-color: #c84111;
}

.sl-navbar {
  background-color: var(--scott-white);
  border-bottom: 1px solid var(--scott-light-gray);
  display: flex;
  position: fixed;
  width: 100%;
  height: 100px;
}

.sl-navbar h1 {
  margin: 0px;
  margin-right: -59px;
  padding: 10px;
}

.sl-navbar .nav-centered {
  display: flex;
  margin: auto;
}

.sl-navbar h1 a {
  text-decoration: none;
  color: var(--scott-black);
}

.sl-navbar h1 {
  display: none;
}

.sl-navbar a.nav-link {
  color: var(--scott-black);
  display: inline-block;
  font-size: 2em;
  text-decoration: none;
  text-align: center;
  padding: 21px 21px 0px 21px;
}

.sl-navbar a.nav-link:hover,
.sl-navbar a.nav-link.selected {
  color: var(--scott-highlight-color);
}

.sl-content {
  margin: auto;
  padding-top: 140px;
  padding-bottom: 40px;
}

.sl-content div.sl-pane {
  width: 100%;
  margin: 0px 30px;
}

.sl-content h2.top-blurb {
  font-size: 60px;
  font-style: italic;
  font-weight: 200;
  color: var(--scott-dark-color);
  border-bottom: 1px solid var(--scott-dark-color);
  margin-bottom: 30px;
}

.sl-content div.description {
  margin-bottom: 30px;
  font-size: 2.5em;
}

/* Media Query for non-mobile pages  */
@media only screen and (min-width: 1024px) {
  .sl-navbar {
    height: 59px;
  }

  .sl-navbar a.nav-link {
    font-size: 15px;
  }

  .sl-content {
    max-width: 1024px;
    padding-top: 100px;
  }

  .sl-content div.description {
    font-size: 1em;
  }

  .sl-content h2.top-blurb {
    font-size: 30px;
  }
}
