.thoughts .thoughts-list-title h2 {
  font-size: 3em;
  font-style: italic;
  font-weight: 200;
  color: var(--scott-dark-color);
  border-bottom: 1px solid var(--scott-dark-color);
  margin-bottom: 30px;
}

.thoughts .thought-link a {
  display: block;
  width: 96%;
  padding: 10px 3px 10px 10px;
  color: var(--scott-primary-color);
  font-size: 1.8em;
}

.thoughts .thought-link:hover a {
  background-color: var(--scott-light-gray);
  color: var(--scott-highlight-color);
}

.thoughts .thought-link h3 {
  text-align: center;
  margin-top: 31px;
}

.thoughts .cool-date {
  color: var(--scott-black);
  text-align: center;
}

.thoughts .cool-date .month {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.thoughts .cool-date .day {
  letter-spacing: 5px;
}

.thoughts .cool-date .year {
  letter-spacing: 2px;
}

.illuminated-box {
  text-align: center;
}

.illuminated-box > svg {
  width: 100%;
  height: 100%;
}

.illuminated-letter {
  font-family: charter, georgia, "Oxygen", sans-serif;
  font-size: 241px;
}

.first-line {
  font-family: charter, georgia, "Oxygen", sans-serif;
  text-transform: uppercase;
  color: var(--scott-highlight-color);
  font-weight: 200;
  margin-top: 20px;
  font-size: 2.5em;
}

.thoughts-page {
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-size: 100%;
  min-height: 1400px;
}

.thoughts-page .back {
  margin-bottom: 30px;
}

.thoughts-page .back a {
  padding: 10px;
  color: var(--scott-black);
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid var(--scott-light-gray);
  text-transform: none;
  font-style: normal;
  letter-spacing: 0px;
}

.thoughts-page .back a:hover {
  color: var(--scott-highlight-color);
  border-bottom: 1px solid var(--scott-highlight-color);
}

.thoughts-page .read-time {
  font-size: 1.5em;
  text-align: right;
  letter-spacing: 1px;
  margin-top: -1em;
}

.thoughts-page p {
  font-family: charter, georgia, "Fira Sans", sans-serif;
  font-weight: 200;
  font-size: 2.5em;
  line-height: 1.5em;
  padding: 0em 2em;
}

.thoughts-page .signature {
  margin-bottom: 200px;
}

.thoughts-page h2.nth {
  font-family: charter, georgia, "Fira Sans", sans-serif;
  font-size: 2.5em;
  padding: 0em 1em;
}

.thoughts-page h2.nth,
.thoughts-page .date {
  font-family: charter, georgia, "Oxygen", sans-serif;
  color: var(--scott-dark-color);
  font-weight: 200;
}

.thoughts-page a {
  color: var(--scott-primary-color);
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 2px;
}

.thoughts-page a:hover {
  color: var(--scott-secondary-color);
}

@media only screen and (min-width: 1024px) {
  .thoughts .thoughts-list-title h2 {
    font-size: 2em;
  }

  .thoughts .thought-link a {
    font-size: 1em;
  }

  .thoughts .thought-link h3 {
    margin-top: 15px;
  }

  .thoughts-page .read-time {
    font-size: 1em;
  }

  .first-line {
    font-size: 2em;
  }
  .thoughts-page p {
    font-size: 22px;
  }
  .thoughts-page h2.nth {
    font-size: 2em;
  }
}

@media print {
  .sl-navbar,
  .thoughts-page .back {
    display: none;
  }

  .top-blurb {
    margin-top: -87px;
  }

  a:after {
    content: " (" attr(href) ") ";
    text-transform: lowercase;
    color: var(--scott-black);
    font-style: normal;
    font-size: 0.8em;
  }

  .thoughts-page p {
    font-size: 1.3em;
    page-break-inside: auto;
  }

  .thoughts-page h2.nth {
    font-size: 1.3em;
    page-break-before: auto;
    page-break-after: avoid;
  }
}

@page: first {
  margin: 0cm;
}
@page: last {
  margin: 5cm;
}
@page: left {
  margin: 2cm 1.5cm 2cm 2cm;
}
@page: right {
  margin: 2cm 2cm 2cm 1.5cm;
} ;
